*{
    margin: 0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    
}

.navbar{
    height:60px;
    width: 100%;
    background-color:#0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    height: 100%;
    width: 100%;
    background-image: url("OIP.jpg");
    background-size: cover;
    background-position: center;
}

.border{
    border:2px solid transparent;
}

.border:hover{
    border : 1px solid white;
    transition: ease-in;
    cursor: pointer;
    transition-duration: 0.6ms;
    transform: scale(1.0);
}

.add-first{
    color: #CCCCCC;
    margin-left: 18px;
    font-size: 0.84rem;
}

.location{
    display: flex;
    margin-left: 3px;
    color: white;
}

.search-bar{
    display: flex;
    width: 600px;
    height: 40px;
}

.bar:hover{
    border: 2px solid orange;
}

.search-select{
    width: 50px;
    background-color: #f3f3f3;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    height: 40px;
}

.bar{
    width: 520px;
    height: 40px;
    border: 4px;
    
}

.search-logo{
    border-radius: 4px;
    width: 45px;
    background-color: rgb(255, 174, 0);
    display: flex;
    align-items:center;
    justify-content: center;

}

.nav-first{
    font-size: 0.85rem;
    color: white;
}

.nav-second{
    color: white;
    font-weight: 700;
}

.cart-box{
    color: white;
    display: flex;
    font-size: 1.4rem;
}

.cart-box i{
    font-size: 33px;
}

.cart{
    align-content: baseline;
    font-weight: 700;
}

.panel{
    background-color:#222f3d;
    display: flex;
    height: 40px;
    align-items: center;
    color: white;
}

.cat{
    font-weight: 700;
}

.deals p{
    display: inline;
    width: 80%;
    margin-left:15px ;
}

.offers{
    font-weight:700;
    position: absolute;
    right : 40px;
}

.hero-section{
    background-image: url("hero.jpg");
    background-size: cover;
    height: 600px;
    width: 100%;
}

#msg{
    background-color: white;
    color: #0f1111;
    text-align: center;
    position: relative;
    top : 250px;
    height:40px;
    width: 1460px;
    margin: 20px;
    padding-top: 10px;
}

.shop-section{
    background-color: #e2e7e6;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -200px;
    
}

.box{
    background-color: white;
    border: 2px;
    height:400px;
    width:23%;
    margin-bottom:30px;
    
    padding: 20px 0px 15px;
}

.shop{
    background-size: cover;
    height:270px;
    margin:1.2rem;
}

.shop-content{
    margin-left:1.2rem;
    text-decoration: none;
}

#bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    height : 250px;
    /* position: relative;
    bottom: 250px; */
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: #e2e7e6;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    
}

.foot-panel2{
    background-color: #232F3e;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    height: 350px;
}

ul p{
    margin-bottom: 25px;
    font-weight: 700;
    color: #cbd8ea;
    
}

 ul {
list-style-type: none;
        margin: 0;
        padding: 0;
      }
      

li{
    margin-bottom:12px;
    color: #9aadc4;
}

pre{
    background-color: #131a22;
    height: 200px;
    width:100%;
    color : #999999;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
}