h2{
    color : rgb(246, 112, 112);
}

body{
    background-color: black;
}

select{
    background-color: azure;
}

*{
    font-family: 'Inter', sans-serif;   
}

p{
    color :aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}


#genre{
    color : rgb(176, 54, 54);
}

button {
    color :rgb(168, 176, 54);
    background-color: brown;
}

.Para{
    color : white;
    font-size:larger;
    text-decoration: pink dashed underline;
    font-weight: bolder;
   
}

.Latter{
    color : rgb(201, 70, 70);
    text-align: center;
    font-size: larger;
}

