h2{
    color : rgb(246, 112, 112);
}

body{
    background-color: rgb(20, 19, 19);
    background-image: url("https://images.ctfassets.net/y2ske730sjqp/5QQ9SVIdc1tmkqrtFnG9U1/de758bba0f65dcc1c6bc1f31f161003d/BrandAssets_Logos_02-NSymbol.jpg?w=940");
    background-size:contain;
}

#mainlogo{
    text-align: center;
    margin:0; 
    padding:0;
}

select{
    background-color: azure;
}

*{
    font-family: 'Inter', sans-serif;   
}

p{
    color :darkgray;
    font-family: Arial, Helvetica, sans-serif ;
}


#genre{
    color : darkgray;
}

button {
    color :black;
    background-color: silver;
}

.Para{
    color : white;
    font-size:larger;
    text-decoration: white dashed underline;
    font-weight: lighter;
   
}

.Latter{
    color :bisque;
    text-align: center;
    font-size: larger;
}

#ShowLink{
    color:rgb(249, 101, 101);
    text-decoration: none;
}
