#navbar{
    background-color: #0f1111;
    height : 60px;
    width : 100%;
    color :  #ff9900;
    font-size: 25px;
    padding: 1%;
    position: absolute;
    top: 0;
    left: 0px;
    display:flexbox;
    flex-direction: row-reverse;
}

*{
    background-color: #232F3E;
}

pre{
    background-color: #cea968;
    height: 100px;
    width:100%;
    color : black;
    text-align: center;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
}

.content{
    height: 900px;
}